
{% extends 'base.html' %}
{% block content %}
<h2 class='mb-4'>Indicadores del Comercio</h2>
<div class='row g-3'>
    <div class='col-md-4'>
        <div class='card bg-success text-white p-3'>
            <h6>Ventas (Ingresos)</h6>
            <p class='mb-1'>Hoy: ${{ v_dia }}</p>
            <p class='mb-1'>Semana: ${{ v_sem }}</p>
            <p class='h4 font-weight-bold'>Mes: ${{ v_mes }}</p>
        </div>
    </div>
    <div class='col-md-4'>
        <div class='card bg-danger text-white p-3'>
            <h6>Gastos (Salidas)</h6>
            <p class='mb-1'>Hoy: ${{ g_dia }}</p>
            <p class='mb-1'>Semana: ${{ g_sem }}</p>
            <p class='h4 font-weight-bold'>Mes: ${{ g_mes }}</p>
        </div>
    </div>
    <div class='col-md-4'>
        <div class='card bg-dark text-white p-3'>
            <h6>Balance Total</h6>
            <p class='mb-1'>Ganancia Neta (Mensual):</p>
            <p class='h2'>${{ balance }}</p>
        </div>
    </div>
</div>
{% endblock %}
